# Python Crash Course

**Target Audience:** Complete Python beginners

**What You'll Learn:** Essential Python concepts for programming and data manipulation

---

## Part 1: Python Basics

### Imports and Comments

Python programs often need to bring in external tools (libraries). Most Python projects start with imports.

In [ ]:
# This is a single-line comment - Python ignores it
# Use comments to explain your code

# Importing tools/libraries
import time  # For timing operations
from datetime import datetime  # For working with dates

# You'll see this pattern constantly in Python projects:
# from module.submodule import specific_function

**Multi-line comments (docstrings):**

In [ ]:
"""
This is a multi-line comment (docstring).
Used for longer explanations or function documentation.
You'll see these throughout Python code.
"""

def my_function():
    """This describes what the function does"""
    pass

### Variables and Data Types

In [ ]:
# Variables store data
customer_name = "Alice Johnson"
balance = 15000.50
account_number = 123456
is_active = True

# Python figures out the type automatically
print(type(customer_name))   # str (string/text)
print(type(balance))         # float (decimal)
print(type(account_number))  # int (integer/whole number)
print(type(is_active))       # bool (boolean: True/False)

<class 'str'>
<class 'float'>
<class 'int'>
<class 'bool'>

### String Formatting (Critical for Output)

Python uses f-strings for formatted output - you'll see this everywhere in modern Python code.

In [ ]:
name = "Alice"
balance = 15000.5
count = 1234567

# f-strings: Put 'f' before the string and use {}
print(f"Customer: {name}")
print(f"Balance: ${balance}")

# Format numbers with thousands separator
print(f"Total: {count:,}")

# Format decimals to 2 places
print(f"Amount: ${balance:.2f}")

# Combine formatting
print(f"Customer {name} has ${balance:,.2f}")

Customer: Alice
Balance: $15000.5
Total: 1,234,567
Amount: $15000.50
Customer Alice has $15,000.50

**Why this matters:** Professional Python code uses this pattern for clear, readable output.

### Exercise 1 (2 min)

Create variables for: customer_name, annual_income (85000.50), customer_count (5000).
Print using f-strings with proper formatting.

In [ ]:
# Your code here:
customer_name = "Mehdi"
annual_income = 85000.50
customer_count =5000
print(f"Customer: {customer_name}")
print(f"Annual Income: ${annual_income:.2f}")
print(f"Customer Count: {customer_count}")

Customer: Mehdi
Annual Income: $85000.50
Customer Count: 5000

---

## Part 2: Lists

### Creating and Accessing Lists

In [ ]:
# Lists hold multiple items in order
balances = [1000, 2500, 15000, 500, 8000]
customers = ["Alice", "Bob", "Charlie", "Diana"]

# Access by index (starts at 0)
print(balances[0])    # 1000 (first)
print(balances[1])    # 2500 (second)
print(balances[-1])   # 8000 (last)
print(balances[-2])   # 500 (second to last)

# Slicing
print(balances[0:3])  # First 3: [1000, 2500, 15000]
print(balances[2:])   # From index 2 onward
print(balances[:3])   # Up to (not including) index 3

1000
2500
8000
500
[1000, 2500, 15000]
[15000, 500, 8000]
[1000, 2500, 15000]

### List Operations

In [ ]:
# Length
print(len(customers))

# Add items
customers.append("Eve")

# Check membership
"Alice" in customers  # True
"Frank" in customers  # False

# Loop through list (we'll cover loops later)
for customer in customers:
    print(customer)

4
Alice
Bob
Charlie
Diana
Eve

### Exercise 2 (2 min)

Create a list of 5 account balances. Print the first, last, and middle item. Add a new balance and print the count.

In [ ]:
# Your code here:
balances = [1000, 2500, 15000, 500, 8000]
print(balances[0])
print(balances[-1])
print(balances[2])

1000
8000
15000

---

## Part 3: Dictionaries and Tuples

### Dictionaries: Key-Value Data Structure

Dictionaries are key-value pairs. They're fundamental to Python programming and data manipulation.

In [ ]:
# Creating a dictionary
customer = {
    "customer_id": "CUST001",
    "name": "Alice Johnson",
    "balance": 25000,
    "segment": "Premium",
    "risk_score": 750
}

# Access values by key
print(customer["name"])
print(customer["balance"])

# Add or update
customer["email"] = "alice@bank.com"
customer["balance"] = 26000

# Check if key exists
if "email" in customer:
    print(f"Email: {customer['email']}")

# Get all keys or values
print(customer.keys())
print(customer.values())
print(customer.items())  # Returns key-value pairs

Alice Johnson
25000
Email: alice@bank.com
dict_keys(['customer_id', 'name', 'balance', 'segment', 'risk_score', 'email'])
dict_values(['CUST001', 'Alice Johnson', 26000, 'Premium', 750, 'alice@bank.com'])
dict_items([('customer_id', 'CUST001'), ('name', 'Alice Johnson'), ('balance', 26000), ('segment', 'Premium'), ('risk_score', 750), ('email', 'alice@bank.com')])

### List of Dictionaries (Very Common Pattern)

In [ ]:
# Multiple customer records
customers = [
    {"id": "C001", "name": "Alice", "balance": 25000},
    {"id": "C002", "name": "Bob", "balance": 15000},
    {"id": "C003", "name": "Charlie", "balance": 35000}
]

# Access
print(customers[0])              # First customer (entire dict)
print(customers[1]["name"])      # "Bob"
print(customers[2]["balance"])   # 35000

{'id': 'C001', 'name': 'Alice', 'balance': 25000}
Bob
35000

### Tuples: Immutable Lists

In [ ]:
# Tuples use parentheses and cannot be changed
account_info = ("ACC001", "Checking", 1000.0)

# Access like lists
account_info[0]  # "ACC001"
account_info[1]  # "Checking"

# But cannot modify
# account_info[0] = "ACC002"  # ERROR!

# Use tuples for fixed data that shouldn't change

### Exercise 3 (2 min)

Create a dictionary for a customer with: id, name, income, risk_score. Print the name and risk_score using f-strings.

In [ ]:
# Your code here:
customer = {
    "id": "C001",
    "name": "Alice",
    "income": 85000.50,
    "risk_score": 750
}
print(f"Name: {customer['name']}")
print(f"Risk Score: {customer['risk_score']}")

Name: Alice
Risk Score: 750

---

## Part 4: None and Null Handling

### Understanding None

`None` is Python's way of representing "no value" or "missing data". Critical for data quality checks.

In [ ]:
# None represents missing/null data
customer_email = None
customer_phone = "555-1234"

# Check for None
if customer_email is None:
    print("No email on file")
else:
    print(f"Email: {customer_email}")

# Common pattern in data processing
customer = {
    "id": "C001",
    "name": "Alice",
    "email": None,  # Missing
    "phone": "555-1234"
}

# Check before using
if customer["email"] is not None:
    print(f"Contact: {customer['email']}")

No email on file

In [ ]:
customer['email']= 'alice@email.com'
# Check for None
if customer['email'] is None:
    print("No email on file")
else:
    print(f"Email: {customer["email"]}")

Email: alice@email.com

### Handling None in Lists and Dictionaries

In [ ]:
# List with None values
balances = [1000, None, 2500, None, 8000]

# Filter out None values
valid_balances = [b for b in balances if b is not None]
print(valid_balances)

# Count None values
none_count = sum(1 for b in balances if b is None)
print(f"Missing values: {none_count}")

[1000, 2500, 8000]
Missing values: 2

### The get() Method for Safe Dictionary Access

In [ ]:
customer = {"id": "C001", "name": "Alice"}

# This would error if key doesn't exist:
# customer["email"]  # KeyError!

# Safe access with get() - returns None if key missing
email = customer.get("email")
print(email)  # None

# Provide a default value
email = customer.get("email", "no-email@provided.com")
print(email)  # "no-email@provided.com"

None
no-email@provided.com

### Exercise 4 (2 min)

Create a list with some None values. Count how many None values exist. Print the count.

In [ ]:
# Your code here:

---

## Part 5: Control Flow

### If Statements

In [ ]:
balance = 5001

if balance > 10000:
    print("High balance customer")
    print("Eligible for premium services")
elif balance > 5000:
    print("Standard customer")
else:
    print("Basic account")

Standard customer

### Comparison Operators

| Operator | Description | Example | Result |
|---|---|---|---|
| `==` | Equal to | `5 == 5` | `True` |
| `!=` | Not equal to | `5 != 10` | `True` |
| `>` | Greater than | `10 > 5` | `True` |
| `<` | Less than | `5 < 10` | `True` |
| `>=` | Greater than or equal to | `10 >= 10` | `True` |
| `<=` | Less than or equal to | `5 <= 10` | `True` |

### Checking Multiple Conditions

Logical operators combine conditions: `and`, `or`, `not`.

**Truth Table:**

| Condition A | Condition B | A and B | A or B | not A |
|---|---|---|---|---|
| True | True | True | True | False |
| True | False | False | True | False |
| False | True | False | True | True |
| False | False | False | False | True |

In [ ]:
income = 75000
risk_score = 720

if income > 50000 and risk_score > 700:
    print("Approved")
elif income > 50000 or risk_score > 700:
    print("Review needed")
else:
    print("Not approved")

Approved

### Checking Multiple Conditions

In [ ]:
segment = "Premium"
balance = 25000

# AND - both must be true
if segment == "Premium" and balance > 20000:
    print("VIP customer")

# OR - at least one must be true
if segment == "Premium" or balance > 50000:
    print("Special treatment")

# NOT - reverse the condition
if not (balance < 1000):
    print("Sufficient balance")

VIP customer
Special treatment
Sufficient balance

### For Loops

In [ ]:
balances = [1000, 2500, 15000, 500, 8000]

# Loop through each item
for balance in balances:
    print(f"${balance:,}")

$1,000
$2,500
$15,000
$500
$8,000

### Loop with Conditional Logic

In [ ]:
for balance in balances:
    if balance > 5000:
        print(f"${balance:,} - High value")
    else:
        print(f"${balance:,} - Standard")

$1,000 - Standard
$2,500 - Standard
$15,000 - High value
$500 - Standard
$8,000 - High value

### Range Function

In [ ]:
# Generate sequence of numbers
for i in range(5):
    print(i)  # 0, 1, 2, 3, 4

for i in range(1, 6):
    print(i)  # 1, 2, 3, 4, 5

# Create customer IDs
for i in range(1, 6):
    customer_id = f"CUST{i:03d}"  # Format with leading zeros
    print(customer_id)  # CUST001, CUST002, ...

0
1
2
3
4
1
2
3
4
5
CUST001
CUST002
CUST003
CUST004
CUST005

### Looping Through Dictionaries

In [ ]:
customer = {"name": "Alice", "balance": 25000, "type": "Premium"}

# Loop through keys
for key in customer:
    print(key)

# Loop through values
for value in customer.values():
    print(value)

# Loop through key-value pairs
for key, value in customer.items():
    print(f"{key}: {value}")

name
balance
type
Alice
25000
Premium
name: Alice
balance: 25000
type: Premium

### Exercise 5 (3 min)

Given: `balances = [500, 15000, 2000, 25000, 1000]`

Loop through and print "`Premium: $amount`" if > 10000, else "`Standard: $amount`"

In [ ]:
# Your code here:

---

## Part 6: Functions

### Defining Functions

In [ ]:
def calculate_interest(balance, rate):
    """Calculate annual interest on a balance"""
    interest = balance * rate
    return interest

# Call the function
result = calculate_interest(10000, 0.02)
print(f"Interest: ${result}")

Interest: $200.0

### Functions with Default Parameters

In [ ]:
def categorize_customer(income, risk_score=700):
    """
    Assign customer category.
    If risk_score not provided, defaults to 700.
    """
    if income > 100000 and risk_score > 750:
        return "Premium"
    elif income > 50000 and risk_score > 650:
        return "Standard"
    else:
        return "Basic"

# Call with both arguments
cat1 = categorize_customer(120000, 780)
print(cat1)  # Premium

# Call with just income (uses default risk_score)
cat2 = categorize_customer(60000)
print(cat2)  # Standard

Premium
Standard

### Multiple Return Values

In [ ]:
def analyze_account(balance):
    """Return both category and monthly fee"""
    if balance > 10000:
        return "Premium", 0
    elif balance > 5000:
        return "Standard", 5
    else:
        return "Basic", 10

# Unpack multiple returns
category, fee = analyze_account(12000)
print(f"Category: {category}, Fee: ${fee}")

Category: Premium, Fee: $0

### Functions that Process Lists

In [ ]:
def calculate_total(balances):
    """Sum all balances, skipping None values"""
    total = 0
    for balance in balances:
        if balance is not None:
            total += balance
    return total

balances = [1000, 2500, None, 15000, None, 8000]
total = calculate_total(balances)
print(f"Total: ${total:,}")

Total: $26,500

### Exercise 6 (3 min)

Write a function `is_high_risk(risk_score, income)` that returns True if risk_score < 650 OR income < 30000.

In [ ]:
# Your code here:

---

## Part 7: Advanced Concepts

### Exception Handling (try/except)

In [ ]:
balance = 10000
risk_score = 0
ratio = balance / risk_score  # Division by zero!

ZeroDivisionError: division by zero

In [ ]:
# Basic try/except
try:
    balance = 10000
    risk_score = 0
    ratio = balance / risk_score  # Division by zero!
except:
    print("Error occurred during calculation")

Error occurred during calculation

### Better Error Handling

In [ ]:
balance = int(input("Enter balance: "))
risk_score = int(input("Enter risk score: "))
print(type(balance))
print(type(risk_score))
try:
    result = balance / risk_score
except ZeroDivisionError:
    print("Cannot divide by zero")
    result = 0
except Exception as e:
    print(f"Unexpected error: {e}")
    result = None

print(f"Result: {result}")

Enter balance: 10000
Enter risk score: 0
<class 'int'>
<class 'int'>
Cannot divide by zero
Result: 0

### Try/Except with Else and Finally

In [ ]:
"Hi"*3

'HiHiHi'

In [ ]:
try:
    balance = 10000
    rate = 0.02
    interest = balance * rate
except Exception as e:
    print(f"Error: {e}")
else:
    print(f"Calculation successful: ${interest}")
finally:
    print("Cleanup complete")

Error: division by zero
Cleanup complete

### Type Casting (Converting Between Types)

You'll see this in PySpark when defining schemas and transforming data.

In [ ]:
# String to integer
age_str = "35"
age_int = int(age_str)
print(age_int + 5)  # 40

# String to float
balance_str = "15000.50"
balance_float = float(balance_str)
print(balance_float * 1.02)

# Integer to string
count = 1000
count_str = str(count)
print(f"Customer count: {count_str}")

# Handling errors in conversion
try:
    bad_number = int("not a number")
except ValueError:
    print("Cannot convert to integer")
    bad_number = 0

40
15300.51
Customer count: 1000
Cannot convert to integer

### Type Checking

In [ ]:
balance = 15000.50

# Check type
type(balance)  # <class 'float'>

# Check if specific type
print(isinstance(balance, float))  # True
print(isinstance(balance, int))    # False
print(isinstance(balance, str))    # False

# Conditional logic based on type
if isinstance(balance, (int, float)):
    print(f"Numeric balance: ${balance}")
else:
    print("Invalid balance type")

True
False
False
Numeric balance: $15000.5

### Lambda Functions (Anonymous Functions)

Lambda functions are one-line functions without a name. Common in modern Python for data processing and functional programming.

In [ ]:
# Regular function
def multiply_by_2(x):
    return x * 2

print(multiply_by_2(5))  # 10

# Lambda version (same thing)
multiply = lambda x: x * 2
print(multiply(5))  # 10

# Lambda with multiple arguments
calculate = lambda x, y: x * y
print(calculate(5, 3))  # 15

# Lambda with conditional
categorize = lambda balance: "High" if balance > 10000 else "Low"
print(categorize(15000))  # "High"
print(categorize(5000))   # "Low"

10
10
15
High
Low

### Lambda in List Operations

In [ ]:
balances = [1000, 2500, 15000, 500, 8000]

# Filter with lambda
high_balances = list(filter(lambda x: x > 5000, balances))
print(high_balances)  # [15000, 8000]

# Map (transform) with lambda
doubled = list(map(lambda x: x * 2, balances))
print(doubled)  # [2000, 5000, 30000, 1000, 16000]

# Sort with lambda (sort dictionaries by value)
customers = [
    {"name": "Alice", "balance": 25000},
    {"name": "Bob", "balance": 15000},
    {"name": "Charlie", "balance": 35000}
]

sorted_customers = sorted(customers, key=lambda x: x["balance"], reverse=True)
for c in sorted_customers:
    print(f"{c['name']}: ${c['balance']:,}")

[15000, 8000]
[2000, 5000, 30000, 1000, 16000]
Charlie: $35,000
Alice: $25,000
Bob: $15,000

### Exercise 7 (3 min)

1. Create a lambda that checks if a number is > 10000
2. Use it with filter on: `[5000, 15000, 8000, 25000, 3000]`

In [ ]:
# Your code here:
balances = [5000, 15000, 8000, 25000, 3000]
list(filter(lambda x:x>10000, balances))

[15000, 25000]

---

## Part 8: Putting It All Together

### Real-World Banking Scenario

In [ ]:
# Customer data with some None values
customers_data = [
    {"id": "C001", "name": "Alice", "income": 75000, "risk_score": 720, "email": "alice@email.com"},
    {"id": "C002", "name": "Bob", "income": 45000, "risk_score": None, "email": None},
    {"id": "C003", "name": "Charlie", "income": 120000, "risk_score": 780, "email": "charlie@email.com"},
    {"id": "C004", "name": "Diana", "income": None, "risk_score": 620, "email": "diana@email.com"},
    {"id": "C005", "name": "Eve", "income": 95000, "risk_score": 710, "email": None}
]

### Task 1: Count Missing Values

In [ ]:
missing_risk_scores = 0
missing_emails = 0

for customer in customers_data:
    if customer["risk_score"] is None:
        missing_risk_scores += 1
    if customer["email"] is None:
        missing_emails += 1

print(f"Missing risk scores: {missing_risk_scores}")
print(f"Missing emails: {missing_emails}")

### Task 2: Calculate Average (Handling None)

In [ ]:
def calculate_average_income(customers):
    """Calculate average income, ignoring None values"""
    total = 0
    count = 0

    for customer in customers:
        income = customer["income"]
        if income is not None:
            total += income
            count += 1

    if count > 0:
        return total / count
    else:
        return 0

avg_income = calculate_average_income(customers_data)
print(f"Average income: ${avg_income:,.2f}")

### Task 3: Data Quality Report with Exception Handling

In [ ]:
def generate_quality_report(customers):
    """Generate data quality report with error handling"""
    try:
        total_records = len(customers)

        # Count complete records
        complete = 0
        for customer in customers:
            if (customer.get("income") is not None and
                customer.get("risk_score") is not None and
                customer.get("email") is not None):
                complete += 1

        completeness_rate = (complete / total_records) * 100

        print(f"Total records: {total_records}")
        print(f"Complete records: {complete}")
        print(f"Completeness rate: {completeness_rate:.1f}%")

        return True

    except Exception as e:
        print(f"Error generating report: {e}")
        return False

generate_quality_report(customers_data)

### Task 4: Categorize with Lambda

In [ ]:
# Create tier using lambda
assign_tier = lambda c: (
    "Gold" if (c.get("income") or 0) > 100000 and (c.get("risk_score") or 0) > 750
    else "Silver" if (c.get("income") or 0) > 60000 and (c.get("risk_score") or 0) > 700
    else "Bronze"
)

# Apply to all customers
for customer in customers_data:
    tier = assign_tier(customer)
    print(f"{customer['name']}: {tier}")

### Final Challenge (Your Turn)

Complete these tasks:

1. **Find contactable customers:** Those with non-None email
2. **Calculate total income** (sum of all non-None incomes)
3. **Identify high-risk customers:** Risk score < 650 or None
4. **Create summary function:** Returns dict with counts and totals

In [ ]:
# Task 1: Contactable customers
contactable = []
# Your code here:


# Task 2: Total income
total_income = 0
# Your code here:


# Task 3: High-risk customers
high_risk = []
# Your code here:


# Task 4: Summary function
def create_summary(customers):
    """
    Return dictionary with:
    - total_customers
    - contactable_count
    - high_risk_count
    - total_income
    """
    # Your code here:
    pass

summary = create_summary(customers_data)
print(summary)

---

## Summary: What You've Learned

**Core Concepts:**
- Imports and comments
- Variables and data types
- String formatting with f-strings
- Lists and dictionaries
- None/null handling
- If statements and for loops
- Functions (regular and lambda)
- Exception handling (try/except)
- Type casting

**Why These Matter:**
- **Imports:** Every Python project starts with imports
- **f-strings:** Modern, readable way to format strings
- **Dictionaries:** Essential for working with structured data
- **None handling:** Critical for data quality and error prevention
- **Functions:** Core building blocks of reusable code
- **Lambda:** Powerful for data transformations and filtering
- **Try/except:** Professional error handling in production code

**You're Now Ready For:**
- Writing real Python programs
- Working with data manipulation libraries (pandas, numpy)
- Building web applications (Flask, Django)
- Data analysis and visualization projects
- Advanced Python courses and frameworks

Keep practicing and building projects!